#cloud-config

users:
- name: cloudservice
  uid: 2000

write_files:
- path: /etc/systemd/system/myservice.service
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Description=My Service
    Requires=docker.service network-online.target
    After=docker.service network-online.target
    [Service]
    Environment="HOME=/home/cloudservice"
    #ExecStartPre=/usr/bin/docker login ${registry} -u ${username} -p ${password} # use this if you are using a private docker repository
    ExecStartPre=/usr/bin/docker-credential-gcr configure-docker # use this if your are using Google's docker repository
    ExecStart=/usr/bin/docker run --network=host --rm --name=myservice ${image}
    ExecStop=/usr/bin/docker stop myservice
    Restart=on-failure
    RestartSec=10
    [Install]
    WantedBy=multi-user.target

runcmd:
- iptables -A INPUT -p tcp -j ACCEPT
- systemctl daemon-reload
- systemctl enable --now --no-block myservice.service
